__pycache__/
*.pyc
0-log

.vscode/
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
./submodules/surface_normal_uncertainty
./NeuRIS-eval/output_mesh
./auto.sh